<div [class]="{ 'light-theme': !(theme$ | async) }">
  <mat-drawer-container class="login-container">
    <mat-drawer-content>
      <mat-card class="login-card border-primary bg-background">
        <mat-card-header class="text-primary flex-all-centre">
          <mat-card-title class="flex-all-centre">Login : Case Study UI/UX</mat-card-title>
          <mat-card-subtitle>Welcome to a whole new world of imaginations.</mat-card-subtitle>
        </mat-card-header>
        <hr class="text-primary bg-primary border-primary" style="margin: 0;" />
        <mat-card-content>
          <form class="login-form" [formGroup]="loginForm">
            <mat-form-field class="login-full-width" style="margin-top: 2rem;">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Ex. admin" value="admin" formControlName="username">
            </mat-form-field>

            <mat-form-field class="login-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Ex. admin@123" value="admin@123"
                formControlName="password" />
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions [align]="'end'">
          <button type="button" mat-raised-button color="primary" (click)="singIn()" [disabled]="!loginForm.valid">SIGN
            IN</button>
        </mat-card-actions>
        <mat-card-footer style="margin: 0 2rem;" class="flex-all-centre text-primary">
          This is case study. Copyrights FIS@2020.
        </mat-card-footer>
      </mat-card>
    </mat-drawer-content>
  </mat-drawer-container>
</div>