<div [class]="{ 'light-theme': !(theme$ | async) }">
  <acs-toolbar></acs-toolbar>
  <div style="padding-top: 64px;">
    <mat-sidenav-container color="accent" style="z-index: 99;" (backdropClick)="closeSideNav()" hasBackdrop="false">
      <mat-sidenav color="accent" mode="side" [opened]="$sideNavState | async" autoFocus="false" fixedInViewport="true">
        <div style="min-width: 12rem; margin-top: 64px;">
          <acs-side-nav-list></acs-side-nav-list>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="min-height: calc(100vh - 64px);">
          <div style="padding: 15px;">
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>