<div style="padding: 15px;">
  <div [class]="{ 'light-theme': !(theme$ | async) }">
    <mat-drawer-container class="login-container">
      <mat-drawer-content>
        <mat-card class="login-card border-primary bg-background">
          <mat-card-content class="flex-all-centre">
            <h1 class="text-primary">CASE STUDY : ANGULAR UI/UX</h1>
            <h3 class="">Rahul Sharma - E5616844</h3>
          </mat-card-content>
        </mat-card>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>